<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div id="content" class="sub-page clusters">
        <article class="location">
        </article>
        <article class="base tab-cont-wrap">
            <ul class="tab-btn">
                <li type="notice-migrations" id="tab-migrations" class="active"><a href="javascript:">Migrations</a></li>
                <li type="notice-accounts" id="tab-accounts"><a onclick="movePage(URI_CP_ACCOUNTS_LIST)">Accounts</a></li>
            </ul>
            <div class="creat" style="overflow: auto">
                <h3 th:text="|Migrations #{M0022}|"></h3>
                <div class="source" style="float: left;width: 45%;margin-right: 40px;">
                    <h3 th:text="Soucre"></h3>
                    <dl>
                        <dt><label for="sourceMigration">Name</label></dt>
                        <dd>
                            <fieldset>
                                <select id="sourceMigration" onchange="changeSourceMigrationSelect()">
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="sourceBucket">Bucket</label></dt>
                        <dd>
                            <fieldset>
                                <select id="sourceBucket">
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                </div>
                <div class="destination" style="float: left;width: 45%;margin-right: 40px;">
                    <h3 th:text="Destination"></h3>
                    <dl>
                        <dt><label for="destinationMigration">Name</label></dt>
                        <dd>
                            <fieldset>
                                <select id="destinationMigration" onchange="changeDestinationMigrationSelect()">
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="destinationBucket">Bucket</label></dt>
                        <dd>
                            <fieldset>
                                <select id="destinationBucket">
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- btn -->
            <div class="btn02" style="margin-top: 0">
                <div>
                    <button type="submit" id="sync" th:text="#{M0027}"></button>
                </div>
                <div>
                    <button type="submit" id="copy" th:text="#{M0028}"></button>
                </div>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha256.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/10.2.0/jsrsasign-all-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload = () => {
            const migrationsCreate = {

                init() {

                    if (sessionStorage.getItem('accountsData') === 'Y') {
                        func.loadData('GET', `http://192.168.0.5:8911/v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}?detail=false`, 'application/json', migrationsCreate.draw);
                        // func.loadData('GET', `${func.vaultUrl}v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}?detail=false`, 'application/json', migrationsCreate.draw);
                    }
                },

                draw(data) {
                    data = JSON.parse(data)
                    console.log(JSON.stringify(data))

                    let sourceMigrationHtml = ``;
                    let sourceBucketHtml = ``;
                    let destinationMigrationHtml = ``;
                    let destinationBucketHtml = ``;

                    for (let key of data.keys) {
                        sourceMigrationHtml += `<option value="${key}">${key}</option>`;
                    }

                    for (let key of data.keys) {
                        destinationMigrationHtml += `<option value="${key}">${key}</option>`;
                    }

                    func.appendHtml(document.getElementById('sourceMigration'), sourceMigrationHtml);
                    func.appendHtml(document.getElementById('destinationMigration'), destinationMigrationHtml);
                },

                event() {

                    document.getElementById('sync').addEventListener('click', (e) => {

                        let sourceMigration = document.querySelector('#sourceMigration');
                        let sourceBucket = document.querySelector('#sourceBucket');
                        let detinationMigration = document.querySelector('#destinationMigration');
                        let detinationBucket = document.querySelector('#destinationBucket');

                        if (sessionStorage.getItem('accountsData') === 'N') {
                            func.alertPopup('ALERT', MSG_CHECK_TO_REGISTER_ACCOUNT, true, MSG_CONFIRM, "closed");
                        } else if(sourceBucket.value === "") {
                            func.alertPopup('ALERT', MSG_CHECK_TO_SELECT_BOX, true, MSG_CONFIRM, "closed");
                        } else if (detinationBucket.value === "") {
                            func.alertPopup('ALERT', MSG_CHECK_TO_SELECT_BOX, true, MSG_CONFIRM, "closed");
                        } else if (sourceBucket.value === "" && detinationBucket.value === "") {
                            func.alertPopup('ALERT', MSG_CHECK_TO_SELECT_BOX, true, MSG_CONFIRM, "closed");
                        } else if (sourceMigration.value !== 0 && detinationMigration.value !== 0 && sourceBucket.value !== 0 && detinationBucket.value !== 0) {
                            func.alertPopup('SYNC', MSG_CHECK_TO_SYNC, true, MSG_CONFIRM, migrationsCreate.sync);
                        }

                    }, false);

                    document.getElementById('copy').addEventListener('click', (e) => {

                        let sourceMigration = document.querySelector('#sourceMigration');
                        let sourceBucket = document.querySelector('#sourceBucket');
                        let detinationMigration = document.querySelector('#destinationMigration');
                        let detinationBucket = document.querySelector('#destinationBucket');

                        if (sessionStorage.getItem('accountsData') === 'N') {
                            func.alertPopup('ALERT', MSG_CHECK_TO_REGISTER_ACCOUNT, true, MSG_CONFIRM, "closed");
                        } else if(sourceBucket.value === "") {
                            func.alertPopup('ALERT', MSG_CHECK_TO_SELECT_BOX, true, MSG_CONFIRM, "closed");
                        } else if (detinationBucket.value === "") {
                            func.alertPopup('ALERT', MSG_CHECK_TO_SELECT_BOX, true, MSG_CONFIRM, "closed");
                        } else if (sourceBucket.value === "" && detinationBucket.value === "") {
                            func.alertPopup('ALERT', MSG_CHECK_TO_SELECT_BOX, true, MSG_CONFIRM, "closed");
                        } else if (sourceMigration.value !== 0 && detinationMigration.value !== 0 && sourceBucket.value !== 0 && detinationBucket.value !== 0) {
                            func.alertPopup('COPY', MSG_CHECK_TO_COPY, true, MSG_CONFIRM, migrationsCreate.copy);
                        }

                    }, false);
                },

                sync () {
                    let sourceMigration = document.querySelector('#sourceMigration > option:checked');
                    let sourceEndpoint = ``;
                    let sourceAccessKeyId = ``;
                    let sourceSecretAccessKey = ``;
                    let sourceBucket = document.querySelector('#sourceBucket > option:checked');

                    let detinationMigration = document.querySelector('#destinationMigration > option:checked');
                    let detinationEndpoint = ``;
                    let detinationAccessKeyId = ``;
                    let detinationSecretAccessKey = ``;
                    let detinationBucket = document.querySelector('#destinationBucket > option:checked');


                    // detail 정보 불러오기
                    func.loadData('GET', `http://192.168.0.5:8911/v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}/${sourceMigration}`, 'application/json', sourceDetailDraw);
                    // func.loadData('GET', `${func.vaultUrl}v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}/${sourceMigration}`, 'application/json', sourceDetailDraw);

                    func.loadData('GET', `http://192.168.0.5:8911/v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}/${detinationMigration}`, 'application/json', detinationDetailDraw);
                    // func.loadData('GET', `${func.vaultUrl}v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}/${sourceMigration}`, 'application/json', sourceDetailDraw);

                    async function sourceDetailDraw(data) {
                        let decodeData = await func.responseDecodeData(data)
                        let encodedData = JSON.stringify(decodeData.data)
                        encodedData = encodedData.replaceAll("\"", "");

                        let iv = decodeData.iv
                        let aes = decodeData.aes
                        let responseDecodeData = await responseDecodeDataWithAes(encodedData, aes, iv)
                        let decodedData = JSON.parse(responseDecodeData)

                        sourceEndpoint = decodedData.data.data.endpoint;
                        sourceAccessKeyId = decodedData.data.data.accessKeyId;
                        sourceSecretAccessKey = decodedData.data.data.secretAccessKey;

                    }

                    async function detinationDetailDraw(data) {
                        let decodeData = await func.responseDecodeData(data)
                        let encodedData = JSON.stringify(decodeData.data)
                        encodedData = encodedData.replaceAll("\"", "");

                        let iv = decodeData.iv
                        let aes = decodeData.aes
                        let responseDecodeData = await responseDecodeDataWithAes(encodedData, aes, iv)
                        let decodedData = JSON.parse(responseDecodeData)

                        detinationEndpoint = decodedData.data.data.endpoint;
                        detinationAccessKeyId = decodedData.data.data.accessKeyId;
                        detinationSecretAccessKey = decodedData.data.data.secretAccessKey;
                    }

                    let migrationsCreate = {
                        "src": {
                            "storageType": "s3",
                            "endpoint": sourceEndpoint,
                            "accessKeyId": sourceAccessKeyId,
                            "secretAccessKey": sourceSecretAccessKey,
                            "bucket": sourceBucket
                        },
                        "dst": {
                            "storageType": "s3",
                            "endpoint": detinationEndpoint,
                            "accessKeyId": detinationAccessKeyId,
                            "secretAccessKey": detinationSecretAccessKey,
                            "bucket": detinationBucket
                        }
                    }




                    func.saveData('POST', `${func.migrationUrl}v1/migration/sync/sync`, JSON.stringify(migrationsCreate), true, 'application/json');

                },
                copy () {
                    let sourceMigration = document.querySelector('#sourceMigration > option:checked');
                    let sourceEndpoint = ``;
                    let sourceAccessKeyId = ``;
                    let sourceSecretAccessKey = ``;
                    let sourceBucket = document.querySelector('#sourceBucket > option:checked');

                    let detinationMigration = document.querySelector('#destinationMigration > option:checked');
                    let detinationEndpoint = ``;
                    let detinationAccessKeyId = ``;
                    let detinationSecretAccessKey = ``;
                    let detinationBucket = document.querySelector('#destinationBucket > option:checked');

                    // detail 정보 불러오기
                    func.loadData('GET', `http://192.168.0.5:8911/v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}/${sourceMigration}`, 'application/json', sourceDetailDraw);
                    // func.loadData('GET', `${func.vaultUrl}v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}/${sourceMigration}`, 'application/json', sourceDetailDraw);

                    func.loadData('GET', `http://192.168.0.5:8911/v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}/${detinationMigration}`, 'application/json', detinationDetailDraw);
                    // func.loadData('GET', `${func.vaultUrl}v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}/${sourceMigration}`, 'application/json', sourceDetailDraw);

                    async function sourceDetailDraw(data) {
                        let decodeData = await func.responseDecodeData(data)
                        let encodedData = JSON.stringify(decodeData.data)
                        encodedData = encodedData.replaceAll("\"", "");

                        let iv = decodeData.iv
                        let aes = decodeData.aes
                        let responseDecodeData = await responseDecodeDataWithAes(encodedData, aes, iv)
                        let decodedData = JSON.parse(responseDecodeData)

                        sourceEndpoint = decodedData.data.data.endpoint;
                        sourceAccessKeyId = decodedData.data.data.accessKeyId;
                        sourceSecretAccessKey = decodedData.data.data.secretAccessKey;

                    }

                    async function detinationDetailDraw(data) {
                        let decodeData = await func.responseDecodeData(data)
                        let encodedData = JSON.stringify(decodeData.data)
                        encodedData = encodedData.replaceAll("\"", "");

                        let iv = decodeData.iv
                        let aes = decodeData.aes
                        let responseDecodeData = await responseDecodeDataWithAes(encodedData, aes, iv)
                        let decodedData = JSON.parse(responseDecodeData)

                        detinationEndpoint = decodedData.data.data.endpoint;
                        detinationAccessKeyId = decodedData.data.data.accessKeyId;
                        detinationSecretAccessKey = decodedData.data.data.secretAccessKey;
                    }


                    let migrationsCreate = {
                        "src": {
                            "storageType": "s3",
                            "endpoint": sourceEndpoint,
                            "accessKeyId": sourceAccessKeyId,
                            "secretAccessKey": sourceSecretAccessKey,
                            "bucket": sourceBucket
                        },
                        "dst": {
                            "storageType": "s3",
                            "endpoint": detinationEndpoint,
                            "accessKeyId": detinationAccessKeyId,
                            "secretAccessKey": detinationSecretAccessKey,
                            "bucket": detinationBucket
                        }
                    }

                    func.saveData('POST', `${func.migrationUrl}v1/migration/sync/copy`, JSON.stringify(migrationsCreate), true, 'application/json');
                }
            };
            migrationsCreate.init();
            migrationsCreate.event();
        }

        function changeSourceMigrationSelect() {

            let storageType = ``;
            let endpoint = ``;
            let accessKeyId = ``;
            let secretAccessKey = ``;

            func.loadData('GET', `http://192.168.0.5:8911/v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}/${document.querySelector('#sourceMigration > option:checked').value}`, 'application/json', sourceAccountsDraw);
            // func.loadData('GET', `${func.vaultUrl}/v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}/${document.querySelector('#sourceMigration > option:checked').value}`, 'application/json', sourceAccountsDraw);

            async function sourceAccountsDraw(data) {

                let decodeData = await func.responseDecodeData(data)
                let encodedData = JSON.stringify(decodeData.data)
                encodedData = encodedData.replaceAll("\"", "");

                let iv = decodeData.iv
                let aes = decodeData.aes
                let responseDecodeData = await responseDecodeDataWithAes(encodedData, aes, iv)
                let decodedData = JSON.parse(responseDecodeData)

                storageType = decodedData.data.data.storageType;
                endpoint = decodedData.data.data.endpoint;
                accessKeyId = decodedData.data.data.accessKeyId;
                secretAccessKey = decodedData.data.data.secretAccessKey;

                let bucketsData = {
                    "storageType": storageType,
                    "endpoint": endpoint,
                    "accessKeyId": accessKeyId,
                    "secretAccessKey": secretAccessKey
                }

                func.bucketData('POST', `http://192.168.0.5:8901/v1/migration/operations/list`, bucketsData, true, 'application/json', sourceBucketsDraw);
                // func.bucketData('POST', `${func.vaultUrl}v1/migration/operations/list`, bucketsData, true, 'application/json', sourceBucketsDraw);
            }

            function sourceBucketsDraw(data) {
              func.removeHtml(document.querySelector('#sourceBucket'));

              data = data.substr(10);
              data = data.slice(0, -2);
              // let dataLength = data.match(/map/g)?.length
              let arrData = data.split('Size');
              arrData.pop();

                for (var i=0; i<=arrData.length-1; i++) {
                    arrData[i] = arrData[i].substring(arrData[i].indexOf(`Name:`) + 5,arrData[i].indexOf(` Path`) );
                }

              let sourceBucketHtml = ``;

              for(var i=0; i<=arrData.length-1; i++){
                  sourceBucketHtml += `<option value="${arrData[i]}">${arrData[i]}</option>`;
              }

              func.appendHtml(document.getElementById('sourceBucket'), sourceBucketHtml);

          }

        }
        function changeDestinationMigrationSelect() {
            let storageType = ``;
            let endpoint = ``;
            let accessKeyId = ``;
            let secretAccessKey = ``;

            func.loadData('GET', `http://192.168.0.5:8911/v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}/${document.querySelector('#destinationMigration > option:checked').value}`, 'application/json', destinationAccountsDraw);
            // func.loadData('GET', `${func.vaultUrl}v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}/${document.querySelector('#destinationMigration > option:checked').value}`, 'application/json', destinationAccountsDraw);

            async function destinationAccountsDraw(data) {

                let decodeData = await func.responseDecodeData(data)
                let encodedData = JSON.stringify(decodeData.data)
                encodedData = encodedData.replaceAll("\"", "");

                let iv = decodeData.iv
                let aes = decodeData.aes
                let responseDecodeData = await responseDecodeDataWithAes(encodedData, aes, iv)
                let decodedData = JSON.parse(responseDecodeData)

                storageType = decodedData.data.data.storageType;
                endpoint = decodedData.data.data.endpoint;
                accessKeyId = decodedData.data.data.accessKeyId;
                secretAccessKey = decodedData.data.data.secretAccessKey;

                let bucketsData = {
                    "storageType": storageType,
                    "endpoint": endpoint,
                    "accessKeyId": accessKeyId,
                    "secretAccessKey": secretAccessKey
                }

                func.bucketData('POST', `http://192.168.0.5:8901/v1/migration/operations/list`, bucketsData, true, 'application/json', destinationBucketsDraw);
                // func.bucketData('POST', `${func.vaultUrl}v1/migration/operations/list`, bucketsData, true, 'application/json', destinationBucketsDraw);
            }

            function destinationBucketsDraw(data) {
                func.removeHtml(document.querySelector('#destinationBucket'));

                data = data.substr(10);
                data = data.slice(0, -2);
                // let dataLength = data.match(/map/g)?.length
                let arrData = data.split('Size');
                arrData.pop();

                for (var i=0; i<=arrData.length-1; i++) {
                    arrData[i] = arrData[i].substring(arrData[i].indexOf(`Name:`) + 5,arrData[i].indexOf(` Path`) );
                }

                let destinationBucketHtml = ``;

                for(var i=0; i<=arrData.length-1; i++){
                    destinationBucketHtml += `<option value="${arrData[i]}">${arrData[i]}</option>`;
                }

                func.appendHtml(document.getElementById('destinationBucket'), destinationBucketHtml);

            }
        }

        async function responseDecodeDataWithAes(data, aes, iv) {

            try {
                return CryptoJS.AES.decrypt(data.toString(), CryptoJS.enc.Hex.parse(aes),
                    { iv: CryptoJS.enc.Hex.parse(iv),
                        padding: CryptoJS.pad.Pkcs7,
                        mode: CryptoJS.mode.CBC
                    }).toString(CryptoJS.enc.Utf8);
            } catch (error) {
                console.log("복호화 error")
            }

        }
    </script>
</th:block>
</html>