<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div id="content" class="sub-page clusters">
        <article class="location">
        </article>
        <article class="base tab-cont-wrap">
            <ul class="tab-btn">
                <li type="notice-migrations" id="tab-migrations" class="active"><a href="javascript:">Migrations</a></li>
                <li type="notice-accounts" id="tab-accounts"><a onclick="movePage(URI_CP_ACCOUNTS_LIST)">Accounts</a></li>
            </ul>
            <div class="creat" style="overflow: auto">
                <h3 th:text="|Migrations #{M0022}|"></h3>
                <div class="source" style="float: left;width: 45%;margin-right: 40px;">
                    <h3 th:text="Soucre"></h3>
                    <dl>
                        <dt><label for="sourceMigration">Name</label></dt>
                        <dd>
                            <fieldset>
                                <select id="sourceMigration" onchange="changeSourceMigrationSelect()">
                                    <!--<option value=""></option>-->
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="sourceBucket">Bucket</label></dt>
                        <dd>
                            <fieldset>
                                <select id="sourceBucket">
                                    <!--<option value="">-->
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                </div>
                <div class="destination" style="float: left;width: 45%;margin-right: 40px;">
                    <h3 th:text="Destination"></h3>
                    <dl>
                        <dt><label for="destinationMigration">Name</label></dt>
                        <dd>
                            <fieldset>
                                <select id="destinationMigration" onchange="changeDestinationMigrationSelect()">
                                    <!--<option value=""></option>-->
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="destinationBucket">Bucket</label></dt>
                        <dd>
                            <fieldset>
                                <select id="destinationBucket">
                                    <!--<option value=""></option>-->
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- btn -->
            <div class="btn02" style="margin-top: 0">
                <div>
                    <button type="submit" id="sync" th:text="#{M0027}"></button>
                </div>
                <div>
                    <button type="submit" id="copy" th:text="#{M0028}"></button>
                </div>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha256.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/10.2.0/jsrsasign-all-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload = () => {
            const migrationsCreate = {

                init() {

                    if (sessionStorage.getItem('accountsData') === 'Y') {
                        func.loadData('GET', `http://192.168.0.5:8911/v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}?detail=false`, 'application/json', migrationsCreate.draw);
                    }
                    //vault에서 migration list 불러오기
                    //func.loadData('GET', `${func.vaultUrl}v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}?detail=false`, 'application/json', migrationsCreate.draw);
                    //풀기func.loadData('GET', `http://192.168.0.5:8911/v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}?detail=false`, 'application/json', migrationsCreate.draw);
                },

                draw(data) {
                    data = JSON.parse(data)
                    console.log(JSON.stringify(data))

                    let sourceMigrationHtml = ``;
                    let sourceBucketHtml = ``;
                    let destinationMigrationHtml = ``;
                    let destinationBucketHtml = ``;

                    for (let key of data.keys) {
                        sourceMigrationHtml += `<option value="${key}">${key}</option>`;
                    }

                    for (let key of data.keys) {
                        destinationMigrationHtml += `<option value="${key}">${key}</option>`;
                    }

                    func.appendHtml(document.getElementById('sourceMigration'), sourceMigrationHtml);
                    func.appendHtml(document.getElementById('destinationMigration'), destinationMigrationHtml);
                },

                event() {

                    document.getElementById('sync').addEventListener('click', (e) => {

                        let sourceMigration = document.querySelector('#sourceMigration');
                        let sourceBucket = document.querySelector('#sourceBucket');
                        let detinationMigration = document.querySelector('#destinationMigration');
                        let detinationBucket = document.querySelector('#destinationBucket');


                        //let source = document.getElementById('sourceMigration')
                        /* alert('sourceMigration:::::' + sourceMigration.value)
                         alert('sourceBucket::::::' + sourceBucket.value)
                         alert('detinationMigration:::::' + detinationMigration.value)
                         alert('detinationBucket::::::' + detinationBucket.value)

                         console.log(JSON.stringify(sourceBucket.value))
                         console.log(JSON.stringify(detinationBucket.value))

                         if(sourceMigration.value !== 0 && detinationMigration.value !== 0 && sourceBucket.value !== 0 && detinationBucket.value !== 0) {
                             alert
                         }*/
                        if (sessionStorage.getItem('accountsData') === 'N') {
                            func.alertPopup('ALERT', MSG_CHECK_TO_REGISTER_ACCOUNT, true, MSG_CONFIRM, "closed");
                        } else if(sourceBucket.value === "") {
                            func.alertPopup('ALERT', MSG_CHECK_TO_SELECT_BOX, true, MSG_CONFIRM, "closed");
                        } else if (detinationBucket.value === "") {
                            func.alertPopup('ALERT', MSG_CHECK_TO_SELECT_BOX, true, MSG_CONFIRM, "closed");
                        } else if (sourceBucket.value === "" && detinationBucket.value === "") {
                            func.alertPopup('ALERT', MSG_CHECK_TO_SELECT_BOX, true, MSG_CONFIRM, "closed");
                        } else if (sourceMigration.value !== 0 && detinationMigration.value !== 0 && sourceBucket.value !== 0 && detinationBucket.value !== 0) {
                            func.alertPopup('SYNC', MSG_CHECK_TO_SYNC, true, MSG_CONFIRM, migrationsCreate.sync);
                        }

                    }, false);

                    document.getElementById('copy').addEventListener('click', (e) => {

                        let sourceMigration = document.querySelector('#sourceMigration');
                        let sourceBucket = document.querySelector('#sourceBucket');
                        let detinationMigration = document.querySelector('#destinationMigration');
                        let detinationBucket = document.querySelector('#destinationBucket');

                        if (sessionStorage.getItem('accountsData') === 'N') {
                            func.alertPopup('ALERT', MSG_CHECK_TO_REGISTER_ACCOUNT, true, MSG_CONFIRM, "closed");
                        } else if(sourceBucket.value === "") {
                            func.alertPopup('ALERT', MSG_CHECK_TO_SELECT_BOX, true, MSG_CONFIRM, "closed");
                        } else if (detinationBucket.value === "") {
                            func.alertPopup('ALERT', MSG_CHECK_TO_SELECT_BOX, true, MSG_CONFIRM, "closed");
                        } else if (sourceBucket.value === "" && detinationBucket.value === "") {
                            func.alertPopup('ALERT', MSG_CHECK_TO_SELECT_BOX, true, MSG_CONFIRM, "closed");
                        } else if (sourceMigration.value !== 0 && detinationMigration.value !== 0 && sourceBucket.value !== 0 && detinationBucket.value !== 0) {
                            func.alertPopup('COPY', MSG_CHECK_TO_COPY, true, MSG_CONFIRM, migrationsCreate.copy);
                        }

                    }, false);
                },

                sync () {
                    let sourceMigration = document.querySelector('#sourceMigration > option:checked');
                    let sourceEndpoint = ``;
                    let sourceAccessKeyId = ``;
                    let sourceSecretAccessKey = ``;
                    let sourceBucket = document.querySelector('#sourceBucket > option:checked');

                    //vault에서 src account 정보 상세 조회 하기
                    /*func.loadData('GET', `${func.migrationUrl}templates/${document.querySelector('#createTemplates > option:checked').getAttribute('data-id')}`, 'application/json', (e) => {
                        document.getElementById('createTemplatesDetail').value = e.hclScript;
                    })*/

                    //const source = map[storage_type:s3 endpoint:http://115.68.198.175:9000 access_key_id:admin secret_access_key:tpsxj0812]

                    sourceEndpoint = `http://115.68.198.175:9000`;
                    sourceAccessKeyId = `admin`;
                    sourceSecretAccessKey = `tpsxj0812`;
                    sourceBucket = `jjy`;


                    let detinationMigration = document.querySelector('#destinationMigration > option:checked');
                    let detinationEndpoint = ``;
                    let detinationAccessKeyId = ``;
                    let detinationSecretAccessKey = ``;
                    let detinationBucket = document.querySelector('#destinationBucket > option:checked');

                    //vault에서 dest account 정보 상세 조회 하기
                    /*func.loadData('GET', `${func.migrationUrl}templates/${document.querySelector('#createTemplates > option:checked').getAttribute('data-id')}`, 'application/json', (e) => {
                        document.getElementById('createTemplatesDetail').value = e.hclScript;
                    })*/

                    //map[storage_type:s3 endpoint:http://115.68.198.65:9000 access_key_id:admin secret_access_key:tpsxj0812]

                    detinationEndpoint = `http://115.68.198.65:9000`;
                    detinationAccessKeyId = `admin`;
                    detinationSecretAccessKey = `tpsxj0812`;
                    detinationBucket = `test2`;

                    let migrationsCreate = {
                        "src": {
                            "storageType": "s3",
                            "endpoint": sourceEndpoint,
                            "accessKeyId": sourceAccessKeyId,
                            "secretAccessKey": sourceSecretAccessKey,
                            "bucket": sourceBucket
                        },
                        "dst": {
                            "storageType": "s3",
                            "endpoint": detinationEndpoint,
                            "accessKeyId": detinationAccessKeyId,
                            "secretAccessKey": detinationSecretAccessKey,
                            "bucket": detinationBucket
                        }
                    }

                    func.saveData('POST', `${func.migrationUrl}v1/migration/sync/sync`, JSON.stringify(migrationsCreate), true, 'application/json');

                },
                copy () {
                    let sourceMigration = document.querySelector('#sourceMigration > option:checked');
                    let sourceEndpoint = ``;
                    let sourceAccessKeyId = ``;
                    let sourceSecretAccessKey = ``;
                    let sourceBucket = document.querySelector('#sourceBucket > option:checked');

                    //vault에서 src account 정보 상세 조회 하기
                    /*func.loadData('GET', `${func.migrationUrl}templates/${document.querySelector('#createTemplates > option:checked').getAttribute('data-id')}`, 'application/json', (e) => {
                        document.getElementById('createTemplatesDetail').value = e.hclScript;
                    })*/

                    //const source = map[storage_type:s3 endpoint:http://115.68.198.175:9000 access_key_id:admin secret_access_key:tpsxj0812]

                    sourceEndpoint = `http://115.68.198.175:9000`;
                    sourceAccessKeyId = `admin`;
                    sourceSecretAccessKey = `tpsxj0812`;


                    let detinationMigration = document.querySelector('#destinationMigration > option:checked');
                    let detinationEndpoint = ``;
                    let detinationAccessKeyId = ``;
                    let detinationSecretAccessKey = ``;
                    let detinationBucket = document.querySelector('#destinationBucket > option:checked');

                    //vault에서 dest account 정보 상세 조회 하기
                    /*func.loadData('GET', `${func.migrationUrl}templates/${document.querySelector('#createTemplates > option:checked').getAttribute('data-id')}`, 'application/json', (e) => {
                        document.getElementById('createTemplatesDetail').value = e.hclScript;
                    })*/

                    //map[storage_type:s3 endpoint:http://115.68.198.65:9000 access_key_id:admin secret_access_key:tpsxj0812]

                    detinationEndpoint = `http://115.68.198.65:9000`;
                    detinationAccessKeyId = `admin`;
                    detinationSecretAccessKey = `tpsxj0812`;

                    let migrationsCreate =  {
                        "src": {
                            "storageType": "s3",
                            "endpoint": sourceEndpoint,
                            "accessKeyId": sourceAccessKeyId,
                            "secretAccessKey": sourceSecretAccessKey
                        },
                        "dst": {
                            "storageType": "s3",
                            "endpoint": detinationEndpoint,
                            "accessKeyId": detinationAccessKeyId,
                            "secretAccessKey": detinationSecretAccessKey
                        }
                    }

                    func.saveData('POST', `${func.migrationUrl}v1/migration/sync/copy`, JSON.stringify(migrationsCreate), true, 'application/json');
                }
            };
            migrationsCreate.init();
            migrationsCreate.event();
        }

        function changeSourceMigrationSelect() {
            //Source Bucket 목록 불러와서 뿌려주기
            //func.loadData('GET', `http://192.168.0.5:8911/v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}/${sessionStorage.getItem('accountsName')}`, 'application/json', accountsDetail.draw);
            /*func.loadData('GET', `http://192.168.0.5:8911/v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}/${document.querySelector('#sourceMigration > option:checked').getAttribute('data-id')}`, 'application/json', (e) => {
                document.getElementById('createTemplatesDetail').value = e.hclScript;
            })*/
            let storageType = ``;
            let endpoint = ``;
            let accessKeyId = ``;
            let secretAccessKey = ``;


            func.loadData('GET', `http://192.168.0.5:8911/v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}/${document.querySelector('#sourceMigration > option:checked').value}`, 'application/json', accountsDraw);

            //function accountsDraw(data) {
            async function accountsDraw(data) {

                let decodeData = await func.responseDecodeData(data)
                let encodedData = JSON.stringify(decodeData.data)
                encodedData = encodedData.replaceAll("\"", "");

                let iv = decodeData.iv
                let aes = decodeData.aes
                let responseDecodeData = await responseDecodeDataWithAes(encodedData, aes, iv)
                let decodedData = JSON.parse(responseDecodeData)

                console.log("decodedData:::" + JSON.stringify(decodedData))

                storageType = decodedData.data.data.storageType;
                endpoint = decodedData.data.data.endpoint;
                accessKeyId = decodedData.data.data.accessKeyId;
                secretAccessKey = decodedData.data.data.secretAccessKey;

                let bucketsData = {
                    "storageType": storageType,
                    "endpoint": endpoint,
                    "accessKeyId": accessKeyId,
                    "secretAccessKey": secretAccessKey
                }

                func.bucketData('POST', `http://192.168.0.5:8901/v1/migration/operations/list`, bucketsData, true, 'application/json', bucketsDraw);
            }

           /* let bucketsData = {
                "storageType": storageType,
                "endpoint": endpoint,
                "accessKeyId": accessKeyId,
                "secretAccessKey": secretAccessKey
            }
            alert('bucketsDraw::::' + JSON.stringify(bucketsData))

            //func.drawData('POST', `http://192.168.0.5:8911/v1/migration/operations/list`, 'application/json', bucketsDraw);
            func.bucketData('POST', `http://192.168.0.5:8911/v1/migration/operations/list`, bucketsData, true, 'application/json', bucketsDraw);*/


          function bucketsDraw(data) {
              func.removeHtml(document.querySelector('#sourceBucket'));

              data = data.substr(10);//맨처음 "map[list:" 자르기
              data = data.slice(0, -2);//맨끝에 "]]" 자르기
              let dataLength = data.match(/map/g)?.length
              // let arrData = data.split('Path');
              let arrData = data.split('Size');
              arrData.pop();
              console.log("::::::::::::::배열:::::::::::::" + JSON.stringify(arrData))


                for (var i=0; i<=arrData.length-1; i++) {
                    //arrData[i] = arrData[i].slice(0, -1);
                    arrData[i] = arrData[i].substring(arrData[i].indexOf(`Name:`) + 5,arrData[i].indexOf(` Path`) );
                    // arrData[i] = arrData[i].substring(arrData[i].indexOf(`"Z N"`)+1, 0);
                    //arrData[i] = arrData[i].slice(arrData[i].indexOf(`"Na"`));
                    //arrData[i] = arrData[i].substring(arrData[i].indexOf(`"Name":"`));

                    /*arrData[i] = arrData[i].substr(9);
                    arrData[i] = arrData[i].slice(0, -7);*/
                    console.log(arrData[i])
                }

              console.log(":::::arrData::::::::arrData::::::::::::::" + JSON.stringify(arrData))




              /*data = JSON.parse(data)
              console.log('bucketsDraw data==' + JSON.stringify(data)) // 문자열
              func.removeHtml(document.querySelector('#sourceBucket'));

              data = data.substr(12);
              data = data.slice(0,-2)
              data.replace(/\n|\r|\s*!/g, '')

              let datLength = JSON.parse(data)
              console.log("datLength:::" + datLength)

              const text = data.split('Size')
              for(var i=0; i<=datLength.length-1; i++) {
                  text[i] = text[i].substring(text[i].indexOf(`"Name": "`));
                  text[i] = text[i].substr(9);
                  text[i] = text[i].slice(0, -7);
                  console.log(text[i])
              }*/

              let sourceBucketHtml = ``;

              for(var i=0; i<=text.length-2; i++){
                  sourceBucketHtml += `<option value="${text[i]}">${text[i]}</option>`;
              }

              func.appendHtml(document.getElementById('sourceBucket'), sourceBucketHtml);

          }

            /*func.loadData('GET', `${func.migrationUrl}templates/${document.querySelector('#createTemplates > option:checked').getAttribute('data-id')}`, 'application/json', (e) => {
                        document.getElementById('createTemplatesDetail').value = e.hclScript;
                    })*/


           /* func.removeHtml(document.querySelector('#sourceBucket'));

            const bucket1 = ['bucket1', 'bucket1', 'bucket3', 'bucket3', 'bucket5'];
            let sourceBucketHtml = ``;

            for (let key of bucket1) {
                sourceBucketHtml += `<option value="${key}">${key}</option>`;
            }

            func.appendHtml(document.getElementById('sourceBucket'), sourceBucketHtml);*/


        }
        function changeDestinationMigrationSelect() {
            //Destination Bucket 목록 불러와서 뿌려주기
            /*func.loadData('GET', `${func.migrationUrl}templates/${document.querySelector('#createTemplates > option:checked').getAttribute('data-id')}`, 'application/json', (e) => {
                document.getElementById('createTemplatesDetail').value = e.hclScript;
            })*/

            func.removeHtml(document.querySelector('#destinationBucket'));

            const bucket2 = ['bucket1', 'bucket1', 'bucket3', 'bucket3', 'bucket5'];
            let destinationBucketHtml = ``;

            for (let key of bucket2) {
                destinationBucketHtml += `<option value="${key}">${key}</option>`;
            }

            func.appendHtml(document.getElementById('destinationBucket'), destinationBucketHtml);

        }

        async function responseDecodeDataWithAes(data, aes, iv) {

            try {
                return CryptoJS.AES.decrypt(data.toString(), CryptoJS.enc.Hex.parse(aes),
                    { iv: CryptoJS.enc.Hex.parse(iv),
                        padding: CryptoJS.pad.Pkcs7,
                        mode: CryptoJS.mode.CBC
                    }).toString(CryptoJS.enc.Utf8);
            } catch (error) {
                console.log("복호화 error")
            }

        }
    </script>
</th:block>
</html>