<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
        </article>
        <article class="base tab-cont-wrap">
            <ul class="tab-btn">
                <li type="notice-migrations" id="tab-migrations"><a onclick="movePage(URI_CP_MIGRATIONS_CREATE)">Migrations</a></li>
                <li type="notice-accounts" id="tab-accounts" class="active"><a href="javascript:">Accounts</a></li>
            </ul>
            <div class="notice tab-cont-wrap">
                    <h3>List</h3>
                    <!-- User -->
                    <div class="table_style01">
                        <!-- board -->
                        <table>
                            <caption>Accounts List</caption>
                            <colgroup >
                                <col width="50%" />
                                <col width="10%" />
                                <col width="40%" />
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Storage Type</th>
                                <th scope="col">Endpoint</th>
                            </tr>
                            </thead>
                            <tbody class="listTable">
                            </tbody>
                        </table>
                        <!-- more btn -->
                        <a class="more" href="javascript:;">more</a>
                    </div>
                    <!-- btn -->
                    <a href="javascript:;" class="create" th:text="#{M0022}"></a>
                </div>
        </article>
    </div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript">
    window.onload = () => {

        const accounts = {

            init(){

            },

            /*reset(){
                func.removeHtml(document.querySelector('.listTable'));

                accounts.offset = 0;

                accounts.load();
            },

            load(){
                func.loading();

                // nameSpace 정보 조회
                func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/configMaps`, 'application/json', accounts.draw);
            },
            */

            draw(){
                let items = [
                    {'name': 'minio1', 'storageType': 's3', 'endpoint': 'http://115.68.198.175:9000'},
                    {'name': 'minio2', 'storageType': 's3', 'endpoint': 'http://115.68.198.80:9000'},
                    {'name': 'minio3', 'storageType': 's3', 'endpoint': 'http://115.68.198.65:9000'},
                ]

                if(items.length > 0){
                    for(var i=0; i<=items.length-1; i++){
                        var html = `<tr>
                                        <td class="left"><a href="javascript:;" data-name="${items[i].name}">${items[i].name}</a></td>
                                        <td>${items[i].storageType}</td>
                                        <td>${items[i].endpoint}</td>
                                    </tr>`;

                        func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                    };
                } else {
                    var html = `<tr><td colspan="3">No Data.</td></tr>`;

                    func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                };

            },
            /*
            //draw(data){
            draw(data){

                /!*let data = {
                    "name": "jjy",
                    "storageType": "s3",
                    "provider": "NHN"
                }*!/

                if(accounts.offset == 0) accounts.allItemCount = data.itemMetaData.allItemCount;

                if(data.httpStatusCode == 200){
                    if(data.items.length > 0){
                        for(var i=0; i<=data.items.length-1; i++){
                            var html = `<tr><td class="left"><a href="javascript:;" data-name="${data.items[i].name}" data-spac="${data.items[i].namespace}">${data.items[i].name}</a></td><td class="left">${data.items[i].namespace}</td><td>${data.items[i].creationTimestamp}</td></tr>`;

                            func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                        };
                    } else {
                        var html = `<tr><td colspan="3">No Data.</td></tr>`;

                        func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                    };
                } else {
                    var html = `<tr><td colspan="3">No Data.</td></tr>`;

                    func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                };

                // more 버튼 활성, 비활성
                if(document.querySelector('.listTable').querySelectorAll('tr').length < accounts.allItemCount){
                    document.querySelector('.more').classList.toggle('on', true);
                } else {
                    document.querySelector('.more').classList.toggle('on', false);
                };

                if(document.getElementById('loading')){
                    document.getElementById('wrap').removeChild(document.getElementById('loading'));
                };

                accounts.listEvent();
            },*/

            event(){
                // more 버튼 event
                /*document.querySelector('.more').addEventListener('click', (e) => {
                    if(document.querySelector('.listTable').querySelectorAll('tr').length < accounts.allItemCount){
                    accounts.offset++;

                    accounts.load();
                };
            }, false);*/

                document.querySelector('.create').addEventListener('click', (e) => {
                    document.location.href = URI_CP_ACCOUNTS_CREATE;
            }, false);
            },

            /*listEvent(){
                var listAll = document.querySelector('.listTable').querySelectorAll('a');

                for(var i=accounts.offset*10; i<=listAll.length-1; i++){
                    listAll[i].addEventListener('click', (e) => {
                        sessionStorage.setItem('commonName', e.target.getAttribute('data-name'));
                    sessionStorage.setItem('nameSpace', e.target.getAttribute('data-spac'));

                    document.location.href = URI_CP_CONFIGS_CONFIGMAPS + URI_CP_DETAILS;
                }, true);
                };
            },*/
        }

        accounts.init();
        accounts.event();
        accounts.draw();
    }
</script>
</th:block>
</html>