<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page clusters">
        <article class="location">
        </article>
        <article class="base">
            <div class="creat">
                <h3 th:text="|Accounts #{M0020}|"></h3>
                <div>
                    <dl>
                        <dt><label for="accountsName">Name</label></dt>
                        <dd>
                            <input id="accountsName" type="text"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="storageType">Storage Type</label></dt>
                        <dd>
                            <fieldset>
                                <select id="storageType">
                                    <option value="s3">S3</option>
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="endpoint">Endpoint</label></dt>
                        <dd>
                            <input id="endpoint" type="text"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="accessKeyId">Access Key Id</label></dt>
                        <dd>
                            <input id="accessKeyId" type="text"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="secretAccessKey">Secret Access Key</label></dt>
                        <dd>
                            <input id="secretAccessKey" type="text"/>
                        </dd>
                    </dl>
                    <!--<dl id="providerInfo">
                    </dl>-->
                </div>
            </div>
            <!-- btn -->
            <div class="btn02">
                <button onclick="movePage(URI_CP_ACCOUNTS_LIST);" th:text="#{M0023}"></button>
                <div>
                    <button type="submit" id="confirm" th:text="#{M0027}"></button>
                    <button type="submit" id="save" th:text="#{M0024}"></button>
                </div>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">

        window.onload = () => {

            const accountsCreate = {
                init() {

                    // provider 정보 조회
                    //func.loadData('GET', `${func.url}accounts/provider/info`, 'application/json', accountsCreate.draw);

                },

               /* draw(data) {
                    info = new Map(Object.entries(data.items));
                    let html = ``;

                   for (let key of info.keys()) {
                        if( key != 'KT') {
                        html += `<option value="${key}">${key}</option>`; }
                    }
                    func.appendHtml(document.getElementById('provider'), html, 'select');
                    document.getElementById('provider').selectedIndex = "0";

                    accountsCreate.event();
                },*/

                event() {
                    document.getElementById('save').addEventListener('click', () => {
                        func.alertPopup('SAVE', MSG_CHECK_TO_SAVE, true, MSG_CONFIRM, accountsCreate.save);
                       /* let accountsName = document.getElementById('accountsName').value;
                        let storageType = document.getElementById('storageType').value;
                        let endpoint = document.getElementById('endpoint').value;
                        let accessKeyId = document.getElementById('accessKeyId').value;
                        let secretAccessKey = document.getElementById('secretAccessKey').value;

                        let accountsCreate = {
                            "configName": accountsName,
                            "storageType": storageType,
                            "endpoint": endpoint,
                            "accessKeyId": accessKeyId,
                            "secretAccessKey": secretAccessKey
                        }

                        alert(JSON.stringify(accountsCreate))*/


                    }, false);
                    //changeProviderSelect();
                    document.getElementById('confirm').addEventListener('click', () => {
                        func.alertPopup('CONFIRM', MSG_CHECK_TO_CONFIRM, true, MSG_CONFIRM, accountsCreate.save);
                        /* let accountsName = document.getElementById('accountsName').value;
                         let storageType = document.getElementById('storageType').value;
                         let endpoint = document.getElementById('endpoint').value;
                         let accessKeyId = document.getElementById('accessKeyId').value;
                         let secretAccessKey = document.getElementById('secretAccessKey').value;

                         let accountsCreate = {
                             "configName": accountsName,
                             "storageType": storageType,
                             "endpoint": endpoint,
                             "accessKeyId": accessKeyId,
                             "secretAccessKey": secretAccessKey
                         }

                         alert(JSON.stringify(accountsCreate))*/


                    }, false);
                },

                save() {
                    let accountsName = document.getElementById('accountsName').value;
                    let storageType = document.getElementById('storageType').value;
                    let endpoint = document.getElementById('endpoint').value;
                    let accessKeyId = document.getElementById('accessKeyId').value;
                    let secretAccessKey = document.getElementById('secretAccessKey').value;


                    /*switch(providerType) {
                        case 'AWS':
                            createName = {
                                "resourceName": document.getElementById('name').value,
                                "providerType": providerType,
                                "region": document.getElementById('region').value,
                                "providerInfo": {
                                    "accessKey": document.getElementById('accessKey').value,
                                    "secretKey": document.getElementById('secretKey').value
                                }
                            };
                            break;
                        case 'GCP':
                            createName = {
                                "resourceName": document.getElementById('name').value,
                                "providerType": providerType,
                                "region": document.getElementById('region').value,
                                "providerInfo": {
                                    providerInfo,
                                    "projectName": document.getElementById('projectName').value
                                }
                            };
                            break;
                        case 'OPENSTACK':
                            createName = {
                                "resourceName": document.getElementById('name').value,
                                "providerType": providerType,
                                "region": document.getElementById('region').value,
                                "project": document.getElementById('project').value,
                                "providerInfo": {
                                    "auth_url": document.getElementById('auth_url').value,
                                    "password": document.getElementById('password').value,
                                    "user_name" : document.getElementById('user_name').value
                                }
                            };
                            break;
                        case 'NHN':
                            createName = {
                                "resourceName": document.getElementById('name').value,
                                "providerType": providerType,
                                "region": document.getElementById('region').value,
                                "project" : document.getElementById('project').value,
                                "providerInfo" : {
                                    "auth_url" : document.getElementById('auth_url').value,
                                    "password" : document.getElementById('password').value,
                                    "user_name" : document.getElementById('user_name').value
                                },
                            };
                            break;
                        case 'NAVER':
                            createName = {
                                "resourceName": document.getElementById('name').value,
                                "providerType": providerType,
                                "region": document.getElementById('region').value,
                                "site" : document.getElementById('site').value,
                                "providerInfo": {
                                    "accessKey": document.getElementById('accessKey').value,
                                    "secretKey": document.getElementById('secretKey').value
                                }
                            };
                            break;
                        default:
                        //FIXME! error 처리.




                    }*/

                    let accountsCreate = {
                        "configName": accountsName,
                        "storageType": storageType,
                        "endpoint": endpoint,
                        "accessKeyId": accessKeyId,
                        "secretAccessKey": secretAccessKey
                    }

                    alert(JSON.stringify(accountsCreate))

                    //check FILE
                    func.saveData('POST', `${func.url}accounts`, JSON.stringify(accountsCreate), true, 'application/json', accountsCreate.saveComp);

                },

                saveComp() {
                    func.historyBack();
                }
            };
            accountsCreate.init();
            accountsCreate.event();
        };
        function changeProviderSelect() {
            func.removeHtml(document.getElementById('providerInfo'));
            let html = ``;
            let provider = document.querySelector('#provider > option:checked').value;
            let values = info.get(provider);
            if (provider === 'GCP') {
                html += `<dl><dt><label for="jsonKey">jsonKey</label></dt><dd><input id="jsonKey" type="file" accept="application/json" /></dd></dl>`;
                html += `<dl><dt><label for="projectName">projectName</label></dt><dd><input id="projectName" type="text" /></dd></dl>`;
            }
            else {
                for (let key of Object.keys(values)) {
                    html += `<dl><dt><label for="${key}">${key}</label></dt><dd><input id="${key}" type="text" /></dd></dl>`;
                }
            }
            if(provider === 'OPENSTACK') {
                html += `<dl><dt><label for="project">project</label></dt><dd><input id="project" type="text" /></dd></dl>`;
            }
            if(provider === 'NHN') {
                html += `<dl><dt><label for="project">project</label></dt><dd><input id="project" type="text" /></dd></dl>`;
            }
            if(provider === 'NAVER') {
                html += `<dl><dt><label for="site">site</label></dt><dd><input id="site" type="text" /></dd></dl>`;
            }
            html += `<dl><dt><label for="region">region</label></dt><dd><input id="region" type="text" /></dd></dl>`;
            func.appendHtml(document.getElementById('providerInfo'), html, 'dl');
            if (provider === 'GCP') {
                document.getElementById('jsonKey').addEventListener('change', onChange);
            }

        }

        function onChange(event) {
            let reader = new FileReader();
            reader.onload = onReaderLoad;
            providerInfo = "";
            let file = event.target.files[0];
            if (file.type && !file.type.endsWith('json')) {
                func.alertPopup('ERROR', MSG_INVALID_FORMAT, false, MSG_CLOSE, true);
                return; //FIXME! Alert
            }
            reader.readAsText(file);
        }

        function onReaderLoad(event){
            providerInfo = JSON.parse(event.target.result);
            //FIXME!!, CHECK

        }

    </script>
</th:block>
</html>
