<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page clusters">
        <article class="location">
        </article>
        <article class="base">
            <div class="creat">
                <h3 th:text="|Accounts #{M0022}|"></h3>
                <div>
                    <dl>
                        <dt><label for="accountsName">Name</label></dt>
                        <dd>
                            <input id="accountsName" type="text"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="storageType">Storage Type</label></dt>
                        <dd>
                            <fieldset>
                                <select id="storageType">
                                    <option value="s3">S3</option>
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="endpoint">Endpoint</label></dt>
                        <dd>
                            <input id="endpoint" type="text"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="accessKeyId">Access Key Id</label></dt>
                        <dd>
                            <input id="accessKeyId" type="text"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="secretAccessKey">Secret Access Key</label></dt>
                        <dd>
                            <input id="secretAccessKey" type="text"/>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- btn -->
            <div class="btn02">
                <button onclick="movePage(URI_CP_ACCOUNTS_LIST);" th:text="#{M0025}"></button>
                <div>
                    <button type="submit" id="save" th:text="#{M0026}"></button>
                </div>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha256.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/10.2.0/jsrsasign-all-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>

    <script type="text/javascript">
    /*<script type="module">*/

        window.onload = () => {

            const accountsCreate = {

                event() {
                    let accountsName = document.querySelector('#accountsName');
                    let storageType = document.querySelector('#storageType');
                    let endpoint = document.querySelector('#endpoint');
                    let accessKeyId = document.querySelector('#accessKeyId');
                    let secretAccessKey = document.querySelector('#secretAccessKey');

                    document.getElementById('save').addEventListener('click', () => {

                        if (accountsName.value === '' || storageType.value === '' || endpoint.value === '' || accessKeyId.value === '' || secretAccessKey.value === '') {
                            func.alertPopup('CHECK', MSG_CHECK_TO_VALUE, true, MSG_CONFIRM, 'closed');
                        } else if (accountsName.value !== '' && storageType.value !== '' && endpoint.value !== '' && accessKeyId.value !== '' && secretAccessKey.value !== '') {
                            func.alertPopup('SAVE', MSG_CHECK_TO_SAVE, true, MSG_CONFIRM, accountsCreate.save);
                        }

                    }, false);

                },

                async save() {

                    /*let accountsName = document.querySelector('#accountsName').value;
                    let storageType = document.querySelector('#storageType').value;
                    let endpoint = document.querySelector('#endpoint').value;
                    let accessKeyId = document.querySelector('#accessKeyId').value;
                    let secretAccessKey = document.querySelector('#secretAccessKey').value;*/

                    let accountsName = "SKT";
                    let storageType = "s3";
                    let endpoint = "https://api.endpoint.com";
                    let accessKeyId = "accessKeyId";
                    let secretAccessKey = "secretAccessKey";

                    let timestamp = func.createUnixTimestamp();
                    //alert("timestamp::: " + timestamp)
                    console.log("timestamp::: " + JSON.stringify(timestamp))

                    //let accountsCreate = {"basePath":"asd","userAccount":"sdf","configName":accountsName,"content":{"storageType":storageType,"endpoint":endpoint,"accessKeyId":accessKeyId,"secretAccessKey":secretAccessKey}};
                    let accountsCreate = {"basePath":"storage","userAccount":sessionStorage.getItem('userGuid'),"configName":accountsName,"content":{"storageType":storageType,"endpoint":endpoint,"accessKeyId":accessKeyId,"secretAccessKey":secretAccessKey}}
                    //let accountsCreate = {"basePath":"asd","userAccount":"sdf","configName":"dfg","content":{"storageType":"qwe","endpoint":"wer","accessKeyId":"ert","secretAccessKey":"rty"}}

                    let includeTimestampData = {"data":accountsCreate,"timestamp":timestamp.toString()}
                    //let includeTimestampData = {"data":accountsCreate,"timestamp":"1744597671569076100"}

                    //alert("includeTimestampData::: " + JSON.stringify(includeTimestampData))
                    console.log("includeTimestampData::: " + JSON.stringify(includeTimestampData))

                    //alert("accountsCreate::: " + JSON.stringify(accountsCreate))
                    console.log("accountsCreate::: " + JSON.stringify(accountsCreate))

                    let hmacData = func.encodeHmacSha256(JSON.stringify(includeTimestampData));
                    //alert("hmacData::: " + hmacData)
                    console.log("hmacData::: " + hmacData)

                    //let includeHmacData = {"data":accountsCreate,"hmac_data":hmacData,"timestamp":timestamp}
                    let includeHmacData = {"data":accountsCreate,"hmac_data":hmacData,"timestamp":timestamp.toString()}
                    //alert("includeHmacData::: " + JSON.stringify(includeHmacData))
                    console.log("includeHmacData::: " + JSON.stringify(includeHmacData))

                    let aesIV = func.generateAesIv();
                    console.log("aesIV::: " + aesIV)
                    console.log("aesIV.aes::: " + aesIV.aes)
                    console.log("aesIV.iv::: " + aesIV.iv)

                    //let encodeDataWithAes = func.encodeDataWithAes(JSON.stringify(includeHmacData), aesIV.aes, aesIV.iv);
                    let encodeDataWithAes = func.encodeDataWithAes(includeHmacData, aesIV.aes, aesIV.iv);
                    console.log("encodeDataWithAes::: " + encodeDataWithAes)

                    let decodeDataWithAes = func.decodeDataWithAes(encodeDataWithAes, aesIV.aes, aesIV.iv);
                    console.log("decodeDataWithAes::: " + decodeDataWithAes)

                    const publicKey = "-----BEGIN PUBLIC KEY-----\n" +
                        "MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAlMzrVf4dho9SZiE7E/y0\n" +
                        "020jzF/P/HHIIRHNnYhcyO3+1pKa4zSR0fEjU+Aw1O7XbAv1prhfI8+YZ8iqCkKu\n" +
                        "a8LLV7EtQNJsHKZZewOX1i6cszcrp9UVp6d9/kZgPsH8MDzKOPvzWz2oVvakwUiV\n" +
                        "iotzXgx87eVPLt9cWI5RyWsfmtioyuiKip5HD3tN0MAO3guUtq90ucwObjR2VHX0\n" +
                        "PLdG1eAAmoQgfpIPOJLaS/26PR8zf5vmfso3udoWg78S93Dqflp0Q0RYe1WvWVtp\n" +
                        "B/RZhea6/qlnGlJCuGyKV8vUAUIaMdv3PFSAjeAqlZS232R0VQPWxy1S7m2G+D2F\n" +
                        "04+PUoQzCw8npBQEiDVzrGL/+osB7ezscfx/xCFTH3ihuun2K5QknT6Y0wWQ9NI8\n" +
                        "ZSAiSK3krhQ/pgXKcmS7nt00nMdZ4ojykK0M0DS270GMHpPg8vwYCQ50shqMM5TX\n" +
                        "IOl5QPNc13XzVct2/fgjhc+pYqcJQlEvyi8A0x8Hy9XB447ekAcWNMFgPzfXxmrL\n" +
                        "jV19s9LEeFuNdsZrVI1McofX+qTOMmQdu5Wi+RxfKX/yVTQNeozowblC32h89BFI\n" +
                        "ym+Ui7xhe8N5yWZDdT47NOmicmc5G/JdrJTjIs0xUUgt8vvdNu2w/erF0Xzb1t+9\n" +
                        "/lbY7yakgB5qpsvhaTE2HLcCAwEAAQ==\n" +
                        "-----END PUBLIC KEY-----";

                    const privateKey = "-----BEGIN PRIVATE KEY-----\n" +
                        "MIIJQQIBADANBgkqhkiG9w0BAQEFAASCCSswggknAgEAAoICAQCUzOtV/h2Gj1Jm\n" +
                        "ITsT/LTTbSPMX8/8ccghEc2diFzI7f7WkprjNJHR8SNT4DDU7tdsC/WmuF8jz5hn\n" +
                        "yKoKQq5rwstXsS1A0mwcpll7A5fWLpyzNyun1RWnp33+RmA+wfwwPMo4+/NbPahW\n" +
                        "9qTBSJWKi3NeDHzt5U8u31xYjlHJax+a2KjK6IqKnkcPe03QwA7eC5S2r3S5zA5u\n" +
                        "NHZUdfQ8t0bV4ACahCB+kg84ktpL/bo9HzN/m+Z+yje52haDvxL3cOp+WnRDRFh7\n" +
                        "Va9ZW2kH9FmF5rr+qWcaUkK4bIpXy9QBQhox2/c8VICN4CqVlLbfZHRVA9bHLVLu\n" +
                        "bYb4PYXTj49ShDMLDyekFASINXOsYv/6iwHt7Oxx/H/EIVMfeKG66fYrlCSdPpjT\n" +
                        "BZD00jxlICJIreSuFD+mBcpyZLue3TScx1niiPKQrQzQNLbvQYwek+Dy/BgJDnSy\n" +
                        "GowzlNcg6XlA81zXdfNVy3b9+COFz6lipwlCUS/KLwDTHwfL1cHjjt6QBxY0wWA/\n" +
                        "N9fGasuNXX2z0sR4W412xmtUjUxyh9f6pM4yZB27laL5HF8pf/JVNA16jOjBuULf\n" +
                        "aHz0EUjKb5SLvGF7w3nJZkN1Pjs06aJyZzkb8l2slOMizTFRSC3y+9027bD96sXR\n" +
                        "fNvW373+VtjvJqSAHmqmy+FpMTYctwIDAQABAoICAA3hbcSYT2XJgdzAFdQ/+xhL\n" +
                        "8o5yk6LPdGVNVVpwKYOe2+plQ6iVM1MbxPlijPuYCiVsmi5CvbFIAMYRrHcHkGDC\n" +
                        "C5jzEK8e0fH8PJWimKvkrj5zk5F06a+5iqHJK9o+20keqpiVPDbTMhxmpqjXHggO\n" +
                        "CSWJUbAZd4D+Wg1yvUNmSEz4EArZlW7n4+YYUQJ7oAdrmiROirt4QxJZt34agL2X\n" +
                        "NTbnTfccAzH7awsSe+Wh1hk0i2fIgcBrGbavFvGURe8qK928j2LlAcIDlLdntQ0G\n" +
                        "aMF6bBAsek80xD+S9HbLL0wsv+fNxqrskQ9rDV3lwQdmxglWMddjrXxLYE9Q4eZd\n" +
                        "bQtlTK8jHPehpL2AXkqGwT0mezv6yj2bPiPImGp667eibf45N+1MbjHew+MPedyb\n" +
                        "aln7lLWbUpQvnCqyBexlelPFhohWHl0By0wndfGzFRt5exOkup0OwM5JO17k+5lr\n" +
                        "LBx9QS/1NUvAkDmgzBdOH0DsJhx7mR7NB5T4ZeozgHxWh+BAoFtLwlu/luML3fvp\n" +
                        "MVXjmeEfBahQJ5UOPX1th5avbBuX5GdF9NxCoioYQYJb+YC5SF9TKZWCCVaiywBc\n" +
                        "C8vlywWfv19L1stumEt0S+JHP+KW4wiO5bTaKmwkkXn6RFGpY9o4uE7uYJMvNL11\n" +
                        "nEs2SzCA0Kh9OIDubAeZAoIBAQDIp2t9Y09lYBzyaY8CnZ8kc7F5hP775O4n8iHv\n" +
                        "pz5epFjpVsmnmHSFRz3eYbsSNK/XgMcy6K/A2RKDgB0O86l4rhxSX9dFaPFISk20\n" +
                        "98QZrLgTKDgdqF+SIrByp8Dyzcsq7m2bk/DBJ0jhACOwy+gTUvMCh7kg9bJ4Hocr\n" +
                        "l0iCrcE/Jry0C5lUMElnn3ytGy0C/tVZcSfT8g3DH6d4bie0Nq7O/noqJjv9YWOJ\n" +
                        "q9EudZixtNOJlKyiD6YsBgWrCcvxjP6KkwAmWYPmDd2ym4tEdqXLA9P3vT16FMI5\n" +
                        "FtF7pAeu0fMvsjxWoFP7eeS8yu8U61yy45OIhTHoJoJYxRnvAoIBAQC92AS+PVJG\n" +
                        "AkndOsgTQB/VrttZCRbOGMWIOgJOo+YnfG2IX9+UpYNuHL7MiUi521wJlyrC1UBs\n" +
                        "ZFtDdrp++wyC9XV4lg2qT27FSe8nEsOuwjYiUDS2BDiOOjhXp3khMFMC1qH1Hvcl\n" +
                        "eIiJEKZacuSkLG8fjYxiDaWkUUj/5ui6KnsVsSJ3l+UkTFnP27f8am8rcHCZCL9l\n" +
                        "jSio2dowFbomOhZhw8jkeuTPtqKuFvR4yDs44hjmWOS5XPHFsaHTiGorspcoLcWY\n" +
                        "RM4g64aHLOykAWCRez1EyAdXrj/BFhGLMEOKlk/ghSXYIOYO8HE8I+Dd5mtBAXt2\n" +
                        "Ffn40HCYSpG5AoIBADDHYn4s8lQ2tVLJDpcYMmPuLCrahhI+aRcU6eMUyTjAw0yW\n" +
                        "aJdxnIH5+7RgFdYrMMQ27jYWEwPSwYluT6Ie4ggQa5oq6m5ZQK7OQW3I/ccwEd+2\n" +
                        "W036bKFeBX8aAPIFzWo2ZDb6FAEgx7rLCeIk79oixCjNTdgRYr2Izltuf5YlH2F2\n" +
                        "zVEHsNKimnWyc+CxRpP/12XS+Fex9F6HB3NjdAt/b6eqfZBZkyPZ1RTWzBd7Rw+M\n" +
                        "YhCEMCOFomP5Ys9dplKmcArICbVI9aOro0WUQpr2LP/ZgmIrgxJ2kXDHd02TZrq9\n" +
                        "F110+u4kM8Zir5Sl0NFJFlP2txrtJmDFW9Kwt8kCggEAWtDW3AbLr8/yc9Fl2sen\n" +
                        "Mvp11e7iKO9yt0tAxUvkkukUINP0SdCvweIgaAoYb0h/i9rzysZnDjMn8Wr/pjUE\n" +
                        "dDVl36ywltNu4xQOQrvYPmaLrPh/br8wKuGxCEWGTZknbMkuKuuIQTWa4y7C1av2\n" +
                        "so7LDeYRzOpIXgXAjSJyHHSr8uGM4ncYV7fqkuPB7Q8hZT9hreOgY70WQUgN90i9\n" +
                        "hwHsqRIWrS4Y/UCaK/uxMYJfykNms/K8X+wVgIQMLPwqBgNmCgNzbfckQF1LOqkD\n" +
                        "/yTlhFLXKWsjEA+8Uerzs4kAFnD3fylSxERgqa7eDG4BaUWL80n5PLEgpqVX55Js\n" +
                        "iQKCAQBvKkxQJQOfyOLbZbiIgKgNNlp+5lX8wwIdkq71v7gutRY0zrpWLCoezJgw\n" +
                        "msnr8VKzIGF1FdSPqFYX5p++0tC7OCxRzsOlBgnV7e8Ax30O/rwvDDYXwys+4j+r\n" +
                        "DsKFidZTiBBQJDdKBzsXrs58956ThDc3sHiRa0YXmIYTSRgr7tFiPqF7yabW/qbb\n" +
                        "f2b4MxwLBinz0MlMyPUKmpIItiW0ISbsLWsBscT6uKsCXq9WXlcFK4ZocSSc9lFa\n" +
                        "gZlATHt35kKk9zY+8XA6Fb6VrwG0zvjsk5hEBJ/onrYH22g9MsHaKF2B8C4dMwPZ\n" +
                        "oTnDWnK1WK/CVIVxWbb2EmHr9tgX\n" +
                        "-----END PRIVATE KEY-----"


                    const encodeRsaAes = await func.encodeRsaWebCryptoAPI(aesIV.aes, publicKey)
                    console.log("encodeRsaAes::: " + JSON.stringify(encodeRsaAes))

                    const decodeRsaAes = await func.decodeRsaWebCryptoAPI(encodeRsaAes, privateKey)
                    console.log("decodeRsaAes::: " + JSON.stringify(decodeRsaAes))

                    const encodeIvBase64 = func.encodeIvBase64(aesIV.iv)
                    console.log("encodeIvBase64::: " + JSON.stringify(encodeIvBase64))

                    const decodeIvBase64 = func.decodeIvBase64(encodeIvBase64)
                    console.log("decodeIvBase64::: " + decodeIvBase64)

                    const encodeRsaData = await func.encodeRsaWebCryptoAPI(JSON.stringify(includeHmacData), publicKey)
                    console.log("encodeRsaData::: " + JSON.stringify(encodeRsaData))

                    const decodeRsaData = await func.decodeRsaWebCryptoAPI(encodeRsaData, privateKey)
                    //alert("decodeRsaWebCryptoAPI 출력::: " + decodeRsaData)
                    console.log("decodeRsaData::: " + decodeRsaData)

                    let payload = {"payload":encodeRsaData}

                    let encodeData = {
                        "key":encodeRsaAes,
                        "iv":encodeIvBase64,
                        "data":encodeDataWithAes
                    }

                    console.log("encodeData::: " + encodeData)

                    //func.saveData('POST', `${func.vaultUrl}v1/vault`, JSON.stringify(accountsCreate), true, 'application/json', func.historyBack);
                    //func.saveData('POST', `http://192.168.0.5:8911/v1/vault`, JSON.stringify(payload), true, 'application/json', func.historyBackRefresh);
                    //func.saveData('POST', `http://192.168.0.5:8911/v1/vault`, JSON.stringify(encodeData), true, 'application/json', func.historyBackRefresh);

                    sessionStorage.setItem('accountsData', 'Y')
                },
            };
            accountsCreate.event();
        };



    </script>
</th:block>
</html>

