<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
        </article>
        <article class="base detail">
            <div class="notice">
                <h4>Details</h4>
                <div class="table_style01">
                    <table>
                        <caption>Details</caption>
                        <colgroup >
                            <col width="20%" />
                            <col width="80%" />
                        </colgroup>
                        <tbody class="listTable">
                        <tr>
                            <th scope="row" class="left">Name</th>
                            <td class="left" id="name"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Storage Type</th>
                            <td class="left" id="storageType"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Endpoint</th>
                            <td class="left" id="endpoint"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Access Key Id</th>
                            <td class="box left" id="accessKeyId"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Secret Access Key</th>
                            <td class="left box" id="secretAccessKey"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Created Time</th>
                            <td class="left box" id="createdTime"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- btn -->
            <div class="btn02">
                <button onclick="movePage(URI_CP_ACCOUNTS_LIST)" th:text="#{M0025}"></button>
                <div>
                    <a href="javascript:;" id="modify" th:text="#{M0023}"></a>
                    <a href="javascript:;" id="delete" th:text="#{M0024}"></a>
                </div>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
    window.onload = () => {

        const migrationsDetail = {
            init(){

                // accounts 상세 조회
                //func.loadData('GET', `${func.url}vault/storage/${sessionStorage.getItem('userGuid')}}`, 'application/json', migrationsDetail.draw);
                migrationsDetail.draw();
            },

            draw(dataa){

                let data = {
                    'name': 'minio1',
                    'storage_type': 's3',
                    'endpoint': 'http://115.68.198.175:9000',
                    'access_key_id': 'admin',
                    'secret_access_key': 'tpsxj0812',
                    'created_time': '2025.3.19'
                }

                //document.getElementById('name').innerText = data.name;
                document.getElementById('name').innerText = sessionStorage.getItem('accountsName');
                document.getElementById('storageType').innerText = data.storage_type;
                document.getElementById('endpoint').innerText = data.endpoint;
                document.getElementById('accessKeyId').innerText = data.access_key_id.replaceAll(/./gi, "*");
                document.getElementById('secretAccessKey').innerText = data.secret_access_key.replaceAll(/./gi, "*");
                document.getElementById('createdTime').innerText = data.created_time;

            },

            event(){
                document.getElementById('delete').addEventListener('click', (e) => {
                    func.alertPopup('DELETE', MSG_CHECK_TO_DELETE, true, MSG_CONFIRM, migrationsDetail.delete);
            }, false);

                document.getElementById('modify').addEventListener('click', (e) => {
                    func.alertPopup('MODIFY', MSG_CHECK_TO_MODIFY, true, MSG_CONFIRM, migrationsDetail.modify);


            }, false);
            },

            delete(){
                // accounts 삭제
                func.loadData('GET', `${func.url}vault/storage/${sessionStorage.getItem('userGuid')}}`, 'application/json', func.historyBack);
            },

            modify(){
                func.loadData('GET', `${func.url}vault/storage/${sessionStorage.getItem('userGuid')}}`, 'application/json', func.saveComp);
            }
        }
        migrationsDetail.init();
        migrationsDetail.event();
    }
</script>
</th:block>
</html>