<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
        </article>
        <article class="base tab-cont-wrap">
            <ul class="tab-btn">
                <li type="notice-migrations" id="tab-migrations"><a onclick="movePage(URI_CP_MIGRATIONS_CREATE)">Migrations</a></li>
                <li type="notice-accounts" id="tab-accounts" class="active"><a href="javascript:">Accounts</a></li>
            </ul>
            <div class="notice tab-cont-wrap">
                    <h3>List</h3>
                    <!-- User -->
                    <div class="table_style01">
                        <!-- board -->
                        <table>
                            <caption>Accounts List</caption>
                            <colgroup >
                                <col width="20%" />
                                <col width="10%" />
                                <col width="40%" />
                                <col width="30%" />
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Storage Type</th>
                                <th scope="col">Endpoint</th>
                                <th scope="col">Created Time</th>
                            </tr>
                            </thead>
                            <tbody class="listTable">
                            </tbody>
                        </table>
                        <!-- more btn -->
                        <a class="more" href="javascript:;">more</a>
                    </div>
                    <!-- btn -->
                    <a href="javascript:;" class="create" th:text="#{M0022}"></a>
                </div>
        </article>
    </div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript">
    window.onload = () => {

        const accounts = {

            init(){
                /*if (!location.hash) {
                    location.hash = '#reload';
                    location.href = location.href;
                }*/
                //1
                //location.reload(true);

//2
                //location.href = location.href;

//3
                //history.go(0);
                //func.loadData('GET', `${func.vaultUrl}v1/vault/storage/${sessionStorage.getItem('userGuid')}`, 'application/json', accounts.draw);
                func.loadData('GET', `http://192.168.0.5:8911/v1/vault/jjyStorage/${sessionStorage.getItem('userGuid')}?detail=true`, 'application/json', accounts.draw);
            },

            draw(data){

                if (data === undefined) {
                    var html = `<tr><td colspan="4">No Data.</td></tr>`;

                    func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                } else {
                    func.removeHtml(document.querySelector('.listTable'), html, 'tbody');
                    if(data.length > 0){
                        for(var i=0; i<=data.length-1; i++){
                            let originTime = '';
                            let createdTime1 = '';
                            let createdTime2 = '';

                            originTime = data[i].metadata.created_time;
                            createdTime1 = originTime.substr(0, 10)
                            createdTime2 = originTime.substr(11, 8)

                            var html = `<tr>
                                        <td class="left"><a href="javascript:;" data-name="${data[i].name}">${data[i].name}</a></td>
                                        <td>${data[i].data.storageType}</td>
                                        <td>${data[i].data.endpoint}</td>
                                        <td>${createdTime1 + " " + createdTime2}</td>
                                    </tr>`;

                            func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                        };
                    } else {
                        var html = `<tr><td colspan="4">No Data.</td></tr>`;

                        func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                    };
                }

                accounts.listEvent();

            },

            listEvent(){
                var listAll = document.querySelector('.listTable').querySelectorAll('a');

                for(var i=0; i<=listAll.length-1; i++){

                    listAll[i].addEventListener('click', (e) => {
                        sessionStorage.setItem('accountsName', e.target.getAttribute('data-name'));

                        document.location.href = URI_CP_ACCOUNTS_LIST + URI_CP_DETAILS;
                    }, true);
                };
            },
            /*
            //draw(data){
            draw(data){

                /!*let data = {
                    "name": "jjy",
                    "storageType": "s3",
                    "provider": "NHN"
                }*!/

                if(accounts.offset == 0) accounts.allItemCount = data.itemMetaData.allItemCount;

                if(data.httpStatusCode == 200){
                    if(data.items.length > 0){
                        for(var i=0; i<=data.items.length-1; i++){
                            var html = `<tr><td class="left"><a href="javascript:;" data-name="${data.items[i].name}" data-spac="${data.items[i].namespace}">${data.items[i].name}</a></td><td class="left">${data.items[i].namespace}</td><td>${data.items[i].creationTimestamp}</td></tr>`;

                            func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                        };
                    } else {
                        var html = `<tr><td colspan="3">No Data.</td></tr>`;

                        func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                    };
                } else {
                    var html = `<tr><td colspan="3">No Data.</td></tr>`;

                    func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                };

                // more 버튼 활성, 비활성
                if(document.querySelector('.listTable').querySelectorAll('tr').length < accounts.allItemCount){
                    document.querySelector('.more').classList.toggle('on', true);
                } else {
                    document.querySelector('.more').classList.toggle('on', false);
                };

                if(document.getElementById('loading')){
                    document.getElementById('wrap').removeChild(document.getElementById('loading'));
                };

                accounts.listEvent();
            },*/

            event(){
                // more 버튼 event
                /*document.querySelector('.more').addEventListener('click', (e) => {
                    if(document.querySelector('.listTable').querySelectorAll('tr').length < accounts.allItemCount){
                    accounts.offset++;

                    accounts.load();
                };
            }, false);*/

                document.querySelector('.create').addEventListener('click', (e) => {
                    document.location.href = URI_CP_ACCOUNTS_CREATE;
            }, false);
            },


        }

        accounts.init();
        accounts.event();
        accounts.draw();
    }
</script>
</th:block>
</html>