<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
        </article>
        <article class="base detail">
            <div class="notice">
                <h4>Details</h4>
                <div class="table_style01">
                    <table>
                        <caption>Details</caption>
                        <colgroup >
                            <col width="20%" />
                            <col width="80%" />
                        </colgroup>
                        <tbody class="listTable">
                        <tr>
                            <th scope="row" class="left">Name</th>
                            <td class="left" id="name"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Storage Type</th>
                            <td class="left" id="storageType"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Endpoint</th>
                            <td class="left" id="endpoint"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Access Key Id</th>
                            <td class="box left" id="accessKeyId"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Secret Access Key</th>
                            <td class="left box" id="secretAccessKey"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Created Time</th>
                            <td class="left box" id="createdTime"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- btn -->
            <div class="btn02">
                <button onclick="movePage(URI_CP_ACCOUNTS_LIST)" th:text="#{M0025}"></button>
                <div>
                    <a href="javascript:;" id="modify" th:text="#{M0023}"></a>
                    <a href="javascript:;" id="delete" th:text="#{M0024}"></a>
                </div>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
    window.onload = () => {

        const migrationsDetail = {
            init(){

               // func.loadData('GET', `${func.vaultUrl}v1/vault/storage/${sessionStorage.getItem('userGuid')}/${sessionStorage.getItem('accountsName')}`, 'application/json', migrationsDetail.draw);
                migrationsDetail.draw();
            },

            draw(dataa){

                let data = {
                    "data": {
                        "accessKeyId": "jjy",
                        "endpoint": "https://jjy.com",
                        "secretAccessKey": "jjy",
                        "storageType": "s3"
                    },
                    "metadata": {
                        "created_time": "2025-04-08T05:34:30.656987556Z",
                        "custom_metadata": null,
                        "deletion_time": "",
                        "destroyed": false,
                        "version": 3
                    }
                }

                document.getElementById('name').innerText = sessionStorage.getItem('accountsName');
                document.getElementById('storageType').innerText = data.data.storageType;
                document.getElementById('endpoint').innerText = data.data.endpoint;
                document.getElementById('accessKeyId').innerText = data.data.accessKeyId.replaceAll(/./gi, "*");
                document.getElementById('secretAccessKey').innerText = data.data.secretAccessKey.replaceAll(/./gi, "*");

                let originTime = data.metadata.created_time;
                let createdTime1 = originTime.substr(0, 10)
                let createdTime2 = originTime.substr(11, 8)
                document.getElementById('createdTime').innerText = createdTime1 + " " + createdTime2;

            },

            event(){
                document.getElementById('delete').addEventListener('click', (e) => {
                    func.alertPopup('DELETE', MSG_CHECK_TO_DELETE, true, MSG_CONFIRM, migrationsDetail.delete);
            }, false);

                document.getElementById('modify').addEventListener('click', (e) => {
                    func.alertPopup('MODIFY', MSG_CHECK_TO_MODIFY, true, MSG_CONFIRM, migrationsDetail.modify);

            }, false);
            },

            delete(){
                func.saveData('GET', `${func.vaultUrl}v1/vault/storage/${sessionStorage.getItem('userGuid')}/${sessionStorage.getItem('accountsName')}`, 'application/json', func.historyBack);
            },

            modify(){
                func.saveData('GET', `${func.vaultUrl}v1/vault/storage/${sessionStorage.getItem('userGuid')}/${sessionStorage.getItem('accountsName')}`, 'application/json', func.refresh);
            }
        }
        migrationsDetail.init();
        migrationsDetail.event();
    }
</script>
</th:block>
</html>