<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page clusters">
        <article class="location">
        </article>
        <article class="base tab-cont-wrap">
            <ul class="tab-btn">
                <li type="notice-migrations" id="tab-migrations" class="active"><a href="javascript:">Migrations</a></li>
                <li type="notice-accounts" id="tab-accounts"><a onclick="movePage(URI_CP_ACCOUNTS_LIST)">Accounts</a></li>
            </ul>
            <div class="creat" style="overflow: auto">
                <h3 th:text="|Migrations #{M0024}|"></h3>
                <div class="source" style="float: left;width: 45%;margin-right: 40px;">
                    <h3 th:text="Soucre"></h3>
                    <dl>
                        <dt><label for="sourceName">Name</label></dt>
                        <dd>
                            <fieldset>
                                <select id="sourceName">
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="sourceBucket">Bucket</label></dt>
                        <dd>
                            <fieldset>
                                <select id="sourceBucket">
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                </div>
                <div class="destination" style="float: left;width: 45%;margin-right: 40px;">
                    <h3 th:text="Destination"></h3>
                    <dl>
                        <dt><label for="destinationName">Name</label></dt>
                        <dd>
                            <fieldset>
                                <select id="destinationName">
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="destinationBucket">Bucket</label></dt>
                        <dd>
                            <fieldset>
                                <select id="destinationBucket">
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <p th:text="${accessToken}"></p>
                </div>
            </div>
            <!-- btn -->
            <div class="btn02">
                <!--<button onclick="movePage(URI_CP_MIGRATIONS_LIST);" th:text="#{M0028}"></button>-->
                <div>
                    <button type="submit" id="sync" th:text="#{M0938}"></button>
                </div>
                <div>
                    <button type="submit" id="copy" th:text="#{M0939}"></button>
                </div>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
         window.onload = () => {

            const migrationsCreate = {
                init() {
                    sessionStorage.setItem('token' , 'Bearer ' + document.getElementById('token').innerHTML)
                },

                event() {
                    document.getElementById('sync').addEventListener('click', (e) => {
                        alert("sync")
                        let migrationsCreate =  {
                            "src": {
                                "storageType": "s3",
                                "endpoint": "http://115.68.198.175:9000",
                                "accessKeyId": "admin",
                                "secretAccessKey": "tpsxj0812"
                            },
                            "dst": {
                                "storageType": "s3",
                                "endpoint": "http://115.68.198.65:9000",
                                "accessKeyId": "admin",
                                "secretAccessKey": "tpsxj0812"
                            }
                        }

                        func.saveData('POST', `https://mig.115.68.198.189.nip.io/v1/migration/sync/sync`, JSON.stringify(migrationsCreate), true, 'application/json');

                    }, false);
                },
            };
            migrationsCreate.event();
        }
    </script>
</th:block>
</html>